<div class="col-md-12" style="pointer-events:none" contenteditable="false">
  <rating contenteditable="false" [(ngModel)]="startCount" max="{{_max1}}" readonly="true" stateOn="ion-android-star" stateOff="ion-android-star-outline" class="rating"></rating>
  <span class="help-block">Rate: {{startCount}}</span>
</div>